*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    /* justify-content:space-between ; */
    
    
    
    
}
.title-bar{
    
    
    align-items: center;
    flex-basis:20rem ;
    flex-grow: 1;
    
    
}
.title-bar h1{
    display:inline-block;
}

.link-bar{
    flex-basis:40 ;
    flex-grow:2 ;
    
    
    
    align-self: center;
    
}
.fword{
    color:rgb(37, 187, 37);
}