*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    width: 100%;
}
.nav-bar {
    justify-self:flex-end;
    align-self: center;
}
li
.fword{
    color:rgb(37, 187, 37);
}