*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    a
    width: 100%;
}
.nav-bar i, .nav-bar h1{
    
    align-items: center;
    justify-items: flex-start;
    
}

.link-bar{
    justify-self:flex-end;
    align-self: center;
}
.fword{
    color:rgb(37, 187, 37);
}