*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   
}
.nav-bar{
    display: flex;
    justify-content:space-between ;
    padding: 10px 20px;
    color:#fff;
    
    
    
    
}
.title-bar{
    align-items: center;
    flex-grow: 1;
    display: flex;
    gap:.5rem;
    
    
}
.title-bar h1{
    display:inline-block;
    font-size:2.5rem;
    font-weight: 400;
}

.link-bar{
    
    /* flex-grow:1 ; */
    align-self: center;
    display: flex;  
}
.link-bar a{
    padding: 10px 20px;
    color:#fff;
    text-decoration: none;
   

}
.link-bar a:hover{
    border-bottom: 1px #25bb25 solid;
}
.fword{
    color:#25bb25;
}
.show-case{
   height:100vh;
   text-align: center;
   color:#fff;

   background:  url('img/home/showcase.jpg') no-repeat center center/cover ;
}
.hd-content{
    padding-top: 18rem;
}
.hd-content h1{
    font-size: 3rem;
}
.hd-content p{
    font-size: 1.5rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
}
.hd-content a{
    color: #fff;
    background:rgb(69, 199, 69) ;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.about-section ul{
    display: flex;
    list-style: none;
    
}
.about-srvice{
    padding: ;
}
.about-srvice li{
    text-align: center;
}
.about-srvice li i{
    background-color: rgb(69, 199, 69);
    color:#fff;
    width:70px; 
    height: 70px;
    border-radius: 70px;
    font-size: 40px;
    padding-top:15px ;
    
} 

