*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    justify-content:space-between;
    width: 100%;
    
}
.title-bar{
    
    align-items: center;
    justify-content:space-around;
    
    
}

.link-bar{
    
    align-self: center;
    flex-basis: 2;
}
.fword{
    color:rgb(37, 187, 37);
}