@media screen and (max-width:500px){
    .nav-bar{
        flex-direction: column;
        height:140px;
        justify-content: center;
        align-items: center;
        
    }
    .hd-content{
        padding-top: 10rem;
    }

}